*{
    background-color: #3C6E71;
    font-family: 'Courier New', Courier, monospace;
    color: #F7FFF7;
    text-decoration: none;
}



input{
    background-color: rgb(38, 38, 38);
    border: 1px;
    margin: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
    background-color: rgb(38, 38, 38);
}